body {
    background-color: rgb(90, 90, 90);
}
div {
    padding: 2%; margin: 2%; 
    background-color: rgb(145, 145, 145);
    border: 3px solid rgb(80, 80, 80);
    border-radius: 15px;
}
div.container {
    text-align: center;
}
.heading {
    color:whitesmoke;
    text-align: center;
    font-size: 2em;
}
ul.cUL {
    display: inline-block;
    text-align: left;
    border:solid;
    border-color: lightblue; 
    border-width: 1px;
    border-radius: 15px;
    padding: 2em;

}
li {
    color:whitesmoke;
    font-size: 1.3em;
}

 p {
    color:whitesmoke;
    margin: 1%;
    font-size: 1.3em;
    padding: 2%;
    border:solid;
    border-color: lightblue; 
    border-width: 1px;
    border-radius: 15px;
    text-align: center;   
}

img {
        display: block; 
        margin: auto;
        width: 50%;
        border: 20px solid rgb(145, 145, 145);
        border-radius: 15px; 
        outline: 3px solid rgb(80, 80, 80);
}

.center {
    margin-left: auto;
    margin-right: auto;
}

table{
    width: 100%;
    border-collapse: collapse;
}

th, td {
      border: 1px solid rgb(80, 80, 80);
      padding: 8px;
      text-align: center;
    }
    
th {
      background-color: #f2f2f2;
    }

form {
    border: 1px solid lightblue;
    border-radius: 15px;
    margin: 1rem;
    padding: 2rem;
}

label {
    color:whitesmoke;
    margin: 2rem;
    font-size: 1.3em;
}

input {
    font-size: 1.2em;
    border-radius: 4px;
    border:none;
    padding: 10px 24px;
    cursor:pointer;
}

input[type="submit"]{
    background-color:gold;
    padding: 10px 24px;
}

input[type="submit"]:hover {
    background-color:rgb(128, 55, 55);
}

b {
    color:gold;
}