* {
    padding:0px;
    margin:0px;
}

header {
    color:gold;
    background-color: purple;
    padding: 10px;
    margin-bottom: 10px;
    text-align:center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body {
    background-color: lightyellow;
    margin: 0px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
title {
    color:gold;
}

div {
    border-radius: 5px;
    margin:20px;
}

  /* Flex Box Layout*/
   
.container {
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
}
.item {
      flex: 1 1 200px;
      background-color: maroon;
      padding: 20px;
      text-align: center;
      color: gold;
}
    @media (max-width: 600px) {
      .container {
        flex-direction: column;
      }
      .item {
        flex: 1 1 100%;
      }
    }

/*Grid Layout*/

.grid-container {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: auto;
      grid-gap: 10px;
}
.grid-item {
      background-color: maroon;
      padding: 20px;
      text-align: center;
      color: gold;
}