/*General Body*/
* {
    margin:0px;
    padding:0px;
}

body {
    background-image:linear-gradient(to bottom, red, maroon);
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

header {
    text-align: center;
}

main {
    text-align: center;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

div {
    background-color:rgb(240, 226, 195);
}