/*General Body*/
* {
    margin:0px;
    padding:0px;
}


body {
    background-color:black;
    background-image:linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1)), url("styles/images/AoE2_SS_2.png");
    height: 100vh;
    margin-top: 100px;
    padding: 0;
    background-repeat:no-repeat;
    background-position:center;
    background-size:cover;

}

/*###################### HEADER ######################*/

/*################### NAVIGATION BAR ##################*/

.navbar {
    position:fixed;
    top:0;
    width:100%;
    z-index:1000;
    font-size:1.3em;
}

.navbar-brand {
    font-size:1.5em;
}
.nav-link:hover {
    color: red;
}

/*Scroll Watcher - A filling bar when scrolling down the page.*/
.scroll-watcher-container {
    height:6px;
    width:100%;
    position:fixed;
    top:73px;
    z-index:998;
    background-color:black;

}

.scroll-watcher {
    height:6px;
    width:100%;
    position:fixed;
    top:73px;
    z-index:999;
    background-color:red;
    scale: 0 1;
    transform-origin:left;
    animation: scroll-watcher linear;
}

@keyframes scroll-watcher {
    to {scale: 1 1;
    }
}

/*################### MAIN CONTENT #####################*/

/*TEXT BLOCK*/
.text-block {
    width:100%;
    margin:20px auto;
    padding: 40px 28%;
    color: white;
    background-color:rgba(0, 0, 0, 0.7);
}

 @media screen and (max-width:600px) {
    .text-block {
        padding-left:100px;
        padding-right:40px;
    }
}

/*################## GRID CONTAINER #################*/

.grid-container {
    height:100%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 10px;
}
.grid-item {
    background-color: rgba(0,0,0,0.7);
    padding:30px;
    text-align: left;
    color:white;
}
.grid-item h3 {
    text-align: center;
}

.grid-item ul {
    display:flex;
    gap: 25px;
    list-style:none;
    justify-content:center; /*Center the List content*/
    padding:0 20px;
}

.grid-item li {
    display:flex;
    flex-direction:column;
    align-items:center; /*Center the texts with Icons*/
    text-align:center; /*Center the rows of text*/
}

@media screen and (max-width: 992px) {
    .grid-container {
        grid-template-columns: 100%; /*Switch to 1 column setup on smaller screens*/
    }
}
/*Make the Big Icons of Ages switch to 2 columns on smaller screens.*/
@media screen and (max-width:1450px) {
    #big-icons ul{
        display:grid;
        grid-template-columns: 50% 50%;
        justify-content:center;
        align-items:center;
    }
}

[type=inv] {
    background-color:transparent;
}

/*##################### TIMELINE ####################*/

.timeline {
    position: relative;
    max-width: 1200px;
    margin: 10px auto;
    padding-top: 10px;
    background-color:rgb(0,0,0,0.7);
}

.container {
    padding: 10px 50px;
    position:inherit;
    width: 50%;
    margin-left:0;
}
.container img {
    position:absolute;
    width: 70px;
    right: -42px;
    top: 10px;
    z-index:10;
    background-color:black;
    margin:6px;
    padding:6px;
    border-radius:50%;
    border:2px solid white; 
}

.right-container img {
    left: -40px;
}

.left-container {
    left:0%;
}
.right-container {
    left:50%;
}

.timeline::after{
    content: '';
    position: absolute;
    width: 6px;
    height: 100%;
    background: red;
    top:0;
    left:50%;
    margin-left: -3px;
    z-index: 1;
    animation: moveline 12s linear forwards;
}
@keyframes moveline {
    0% {
        height: 0%;
    }
    100%{
        height: 100%;
    }
}

.text-box {
    padding: 20px 30px;
    background-color: white;
    position: relative;
    border-radius: 6px;
    font-size: 15px; 
}
.text-box h2 {
    font-weight: 600;
}
.text-box small {
    display: inline-block;
    margin-bottom:15px;
}

.left-container-arrow {
    height:0;
    width:0;
    position: absolute;
    top:28px;
    z-index:1;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid white;
    right: -15px;
}

.right-container-arrow {
    height:0;
    width:0;
    position: absolute;
    top:28px;
    z-index:1;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 15px solid white;
    left: -15px;
}
/*Size the timeline for smaller screens with a media query.*/

@media screen and (max-width: 1000px) {
    .timeline {
        margin: 70px auto;
    }
    /*Positioning the animated line*/
    .timeline::after {
        left: 44px;
    }
    /*Add some padding, to prevent excessive stretching.*/
    .container {
        width:100%;
        padding-left: 100px;
        padding-right: 25px;
    }
   
    /*Align the right side containers to the left.*/
    .right-container {
        left:0;
    }
    /*Flip the position of the images*/
    .left-container img, .right-container img {
        left: 3px;
    }
    /*Flip the position of the arrows*/
    .left-container-arrow, .right-container-arrow {
        border-right: 15px solid white;
        border-left:0;
        left: -15px;
    }
}

/*##################### FOOTER #######################*/

footer {
    text-align: center;
    background-color: black;
    color: white;
    display:flex;
    flex-direction:column;
    align-items:center;
    gap:20px;
}
footer ul {
    margin: 20px;
    display:flex;
    list-style:none;
    gap:25px;
}